<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:be.widget.paginate as="paginatedFormResults" objects="{formResults}"
					  configuration="{itemsPerPage: 50, insertAbove: 0, insertBelow: 1}">
	<div class="panel panel-space panel-default recordlist">
		<div class="panel-heading">
		<span>
			<f:translate
					key="LLL:EXT:form_to_database/Resources/Private/Language/locallang_be.xlf:show.results_for"
					arguments="{0: formDefinition.label}"/>
			({f:count(subject: formResults)})
		</span>
		</div>
		<div class="collapse in">
			<div class="table-fit">
				<table id="forms" class="table table-striped table-hover">
					<thead>
					<tr>
						<th>
							<f:translate
									key="LLL:EXT:form_to_database/Resources/Private/Language/locallang_be.xlf:show.crdate"/>
						</th>
						<f:for each="{formRenderables}" as="renderable">
							<th>{renderable.label}</th>
						</f:for>
						<th>&nbsp;</th>
					</tr>
					</thead>
					<tbody>
					<f:for each="{paginatedFormResults}" as="formResult" iteration="iterator">
						<f:render partial="FormResults/Show/Results/Item" arguments="{_all}"/>
					</f:for>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<f:for each="{paginatedFormResults}" as="formResult">
		<f:render partial="FormResults/Show/Results/ItemDetail" arguments="{_all}"/>
	</f:for>
</f:be.widget.paginate>

</html>
