<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="MainContent">
	<h1>
		<f:translate
				key="LLL:EXT:form_to_database/Resources/Private/Language/locallang_be.xlf:show.results_for"
				arguments="{0: formDefinition.label}"/>
	</h1>
	<f:if condition="{formResults}">
		<f:then>
			<f:render partial="FormResults/Show/Results" arguments="{_all}"/>
		</f:then>
		<f:else>
			<f:be.infobox state="-1"
						  title="{f:translate(key: 'LLL:EXT:form_to_database/Resources/Private/Language/locallang_be.xlf:show.results_not_found.title')}">
				<p>
					<f:translate
							key="LLL:EXT:form_to_database/Resources/Private/Language/locallang_be.xlf:show.results_not_found.message"/>
				</p>
			</f:be.infobox>
		</f:else>
	</f:if>
</f:section>
</html>
